<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<appSettings>
		
		<add key="USER_DATABASE_URL" value="sqlite:///./users.db" />
		<add key="ADMIN_DATABASE_URL" value="sqlite:///./admins.db" />
		<add key="QUEUE_DATABASE_URL" value="sqlite:///./queue.db" />
		<add key="VACCINE_DATABASE_URL" value="sqlite:///./vaccines.db" />

		
		<add key="SECRET_KEY" value="fbe697429f16141bc71e3b91f3823641c8dd258dd58bf076241514754954cb8c" />
		<add key="ALGORITHM" value="HS256" />
	</appSettings>
</configuration>